<o-form-layout-manager attr="FlightCrew" mode="tab" title="FLIGHTCREW">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="FlightCrewTable" 
            service="FlightCrew" 
            entity="FlightCrew" 
            title="FLIGHTCREW"
            keys="id"
            columns="id;crew_id;flight_id" 
            header-actions="R;D"
            visible-columns="id;crew_id;flight_id"  
            sort-columns="id" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column attr="crew_id" title="crew_id">
    <o-table-cell-renderer-service attr="crew_id" 
        service="Crew" entity="CrewType" columns="id;name"
        parent-keys="id:crew_id"
        value-column="name" keys="crew_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column attr="flight_id" title="flight_id">
    <o-table-cell-renderer-service attr="flight_id" 
        service="Flight" entity="FlightType" columns="id;id"
        parent-keys="id:flight_id"
        value-column="id" keys="flight_id"
        visible-columns="id" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>